
@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --primary-color:#70008f;
    --secondary-color:#ffffff;
}

.link{
    @apply  py-[10px] flex items-center gap-[5px] w-[250px]   text-[black] text-[18px] font-bold font-[Raytime]
}

svg{
    height:3vh;
}
.service {
    @apply border-2 flex flex-col justify-center text-center items-center py-[10px] h-[30vh] rounded-[10px] bg-[white];
}


